<a href="https://colab.research.google.com/github/davidmorme/Universidad/blob/main/Gesti%C3%B3n%20II/Gesti%C3%B3n_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

In [ ]:
POptimos=[]
D=2
Demanda=np.zeros(1000)
for i in range(0,1000):
  Demanda[i]=round(sum(st.t(11,loc=227.83,scale=23.478).rvs(D)))

In [ ]:
h=2000
CP=192141.486570962
PV=CP*1.3/0.4
CF=PV-CP/0.4
min=400
max=1001

In [ ]:
UtilidadPromedio=np.zeros(max-min)
for P in range(min,max):
  Utilidades=np.zeros(1000)
  for i in range (0,1000):
    if P < Demanda[i]:
      Inventario=0
      Faltantes=Demanda[i]-P
      Ventas=P
    else:
      Inventario=P-Demanda[i]
      Faltantes=0
      Ventas=Demanda[i]
    CostoInventario=h*Inventario*D
    CostoFaltantes=Faltantes*CF
    CostoProducir=CP*P
    IngresosVentas=Ventas*PV
    Utilidad=IngresosVentas-CostoProducir-CostoFaltantes-CostoInventario
    CostoTotal=CostoProducir+CostoFaltantes+CostoInventario
    Utilidades[i]=Utilidad
  UtilidadPromedio[P-min]=Utilidades.mean()

In [ ]:
j=np.argmax(UtilidadPromedio)
POptimo=min+j
POptimos.append(POptimo)

In [ ]:
Demanda=np.zeros(1000)
D=2
for i in range(0,1000):
  Demanda[i]=round(sum(st.t(11,loc=248.75,scale=16.9).rvs(D)))

In [ ]:
h=2000
CP=118733.121114396
PV=CP*1.3/0.4
CF=PV-CP/0.4
min=400
max=1001

In [ ]:
UtilidadPromedio=np.zeros(max-min)
CostoPromedio=np.zeros(max-min)
for P in range(min,max):
  Utilidades=np.zeros(1000)
  Costos=np.zeros(1000)
  for i in range (0,1000):
    if P < Demanda[i]:
      Inventario=0
      Faltantes=Demanda[i]-P
      Ventas=P
    else:
      Inventario=P-Demanda[i]
      Faltantes=0
      Ventas=Demanda[i]
    CostoInventario=h*Inventario*D
    CostoFaltantes=Faltantes*CF
    CostoProducir=CP*P
    IngresosVentas=Ventas*PV
    Utilidad=IngresosVentas-CostoProducir-CostoFaltantes-CostoInventario
    CostoTotal=CostoProducir+CostoFaltantes+CostoInventario
    Utilidades[i]=Utilidad
    Costos[i]=CostoTotal
  UtilidadPromedio[P-min]=Utilidades.mean()
  CostoPromedio[P-min]=Costos.mean()

In [ ]:
print(np.max(UtilidadPromedio))
j=np.argmax(UtilidadPromedio)
POptimo=min+j
print(POptimo)
POptimos.append(POptimo)

129182924.28845404
515

In [ ]:
Demanda=np.zeros(1000)
D=2
for i in range(0,1000):
  Demanda[i]=round(sum(st.t(11,loc=227.33,scale=24.626).rvs(D)))

In [ ]:
h=2000
CP=107857.207297273
PV=CP*1.3/0.4
CF=PV-CP/0.4
min=400
max=1001

In [ ]:
UtilidadPromedio=np.zeros(max-min)
CostoPromedio=np.zeros(max-min)
for P in range(min,max):
  Utilidades=np.zeros(1000)
  Costos=np.zeros(1000)
  for i in range (0,1000):
    if P < Demanda[i]:
      Inventario=0
      Faltantes=Demanda[i]-P
      Ventas=P
    else:
      Inventario=P-Demanda[i]
      Faltantes=0
      Ventas=Demanda[i]
    CostoInventario=h*Inventario*D
    CostoFaltantes=Faltantes*CF
    CostoProducir=CP*P
    IngresosVentas=Ventas*PV
    Utilidad=IngresosVentas-CostoProducir-CostoFaltantes-CostoInventario
    CostoTotal=CostoProducir+CostoFaltantes+CostoInventario
    Utilidades[i]=Utilidad
    Costos[i]=CostoTotal
  UtilidadPromedio[P-min]=Utilidades.mean()
  CostoPromedio[P-min]=Costos.mean()

In [ ]:
print(np.max(UtilidadPromedio))
j=np.argmax(UtilidadPromedio)
POptimo=min+j
print(POptimo)
POptimos.append(POptimo)

105223255.87108073
482

In [ ]:
Demanda=np.zeros(1000)
D=1
for i in range(0,1000):
  Demanda[i]=round(sum(st.t(11,loc=404.5,scale=11.658).rvs(1)))

In [ ]:
h=2000
CP=127056.346657243
PV=CP*1.3/0.4
CF=PV-CP/0.4
min=400
max=1001

In [ ]:
UtilidadPromedio=np.zeros(max-min)
CostoPromedio=np.zeros(max-min)
for P in range(min,max):
  Utilidades=np.zeros(1000)
  Costos=np.zeros(1000)
  for i in range (0,1000):
    if P < Demanda[i]:
      Inventario=0
      Faltantes=Demanda[i]-P
      Ventas=P
    else:
      Inventario=P-Demanda[i]
      Faltantes=0
      Ventas=Demanda[i]
    CostoInventario=h*Inventario*D
    CostoFaltantes=Faltantes*CF
    CostoProducir=CP*P
    IngresosVentas=Ventas*PV
    Utilidad=IngresosVentas-CostoProducir-CostoFaltantes-CostoInventario
    CostoTotal=CostoProducir+CostoFaltantes+CostoInventario
    Utilidades[i]=Utilidad
    Costos[i]=CostoTotal
  UtilidadPromedio[P-min]=Utilidades.mean()
  CostoPromedio[P-min]=Costos.mean()

In [ ]:
print(np.max(UtilidadPromedio))
j=np.argmax(UtilidadPromedio)
POptimo=min+j
print(POptimo)
POptimos.append(POptimo)

113707351.79073158
413

In [ ]:
POptimos=np.array(POptimos)
print(POptimos)

[478 515 482 413]

In [ ]:
PlanP=np.array([456,498,454,404])
SS=POptimos-PlanP
print(SS)

[22 17 28  9]

In [ ]:
Nombre=input('Nombre de mi amorcito ')
if Nombre.capitalize() == 'Catalina'.capitalize():
  print('Te amo',Nombre)
else:
  print('Suerte',Nombre)

Nombre de mi amorcito CAda
Suerte CAda

In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [ ]:
Data = pd.DataFrame({'Referencia': ['Referencia 1', 'Referencia 2', 'Referencia 3', 'Referencia 4'],'Plan_Producción':[456,498,454,404], 'CostoUnitario':[192141.486570962, 118733.121114396,107857.207297273, 127056.346657243], 'h':[2000,2000,2000,2000],'Media':[227.83, 248.75,227.33 ,404.5], 'Desv.Est':[23.478,16.9,24.626,11.658], 'N':[12,12,12,12], 'Periodos':[2,2,2,1]})
Data.set_index('Referencia', inplace=True)
Data['PrecioVenta']=Data['CostoUnitario']/0.4*1.3
Data['CostoFaltantes']=Data['PrecioVenta']-Data['CostoUnitario']/0.4
down=400
up=1001
Repeticiones=1000
POptimos=[]

In [ ]:
for k in Data.index:
    Demanda=np.zeros(Repeticiones)
    for i in range(0,Repeticiones):
        Demanda[i]=round(sum(st.t(Data['N'].loc[k]-1,loc=Data['Media'].loc[k],scale=Data['Desv.Est'].loc[k]).rvs(Data['Periodos'].loc[k])))
    UtilidadPromedio=np.zeros(up-down)
    for P in range(down,up):
        Utilidades=np.zeros(Repeticiones)
        for i in range(0,Repeticiones):
            if P < Demanda[i]:
                Inventario=0
                Faltantes=Demanda[i]-P
                Ventas=P
            else:
                Inventario=P-Demanda[i]
                Faltantes=0
                Ventas=Demanda[i]
            CostoInventario=Data['h'].loc[k]*Inventario*Data['Periodos'].loc[k]
            CostoFaltantes=Faltantes*Data['CostoFaltantes'].loc[k]
            CostoProducir=P*Data['CostoUnitario'].loc[k]
            IngresosVentas=Ventas*Data['PrecioVenta'].loc[k]
            Utilidad=IngresosVentas-CostoProducir-CostoFaltantes-CostoInventario
            Utilidades[i]=Utilidad
        UtilidadPromedio[P-down]=Utilidades.mean()
    j=np.argmax(UtilidadPromedio)
    POptimo=down+j
    POptimos.append(POptimo)

In [ ]:
Data['POptimos']=np.array(POptimos)
Data['SS']=Data['POptimos']-Data['Plan_Producción']
Data

Datos para cadenas

In [ ]:
data=pd.DataFrame({'Tarea':[1,2,3,4,5,6,7],'wj':[6,18,12,8,8,17,18],'pj':[3,6,6,5,4,8,10]})
data.set_index('Tarea', inplace=True)
data

In [ ]:
Cadena1=[1,2,3,4]
Cadena2=[5,6,7]

Cadena sin interrupción

In [ ]:
Secuencia=[]
sumawj=0
sumapj=0
for i in Cadena1:
  sumawj=sumawj+data['wj'].loc[i]
  sumapj=sumapj+data['pj'].loc[i]
Div1=sumawj/sumapj
sumawj=0
sumapj=0
for i in Cadena2:
  sumawj=sumawj+data['wj'].loc[i]
  sumapj=sumapj+data['pj'].loc[i]
Div2=sumawj/sumapj
if Div1<Div2:
  Secuencia=Cadena2+Cadena1
else:
  Secuencia=Cadena1+Cadena2
print(Secuencia)

Cadena con Interrupción

In [ ]:
RCadena1=list(Cadena1)
RCadena2=list(Cadena2)
Secuencia=[]
while RCadena1 or RCadena2 != []:
  sumawj=0
  sumapj=0
  Rho1=[]
  Rho2=[]
  for i in RCadena1:
  
    sumawj=sumawj+data['wj'].loc[i]
    sumapj=sumapj+data['pj'].loc[i]
    Rho1.append(sumawj/sumapj)
  sumawj=0
  sumapj=0
  for i in RCadena2:
  
    sumawj=sumawj+data['wj'].loc[i]
    sumapj=sumapj+data['pj'].loc[i]
    Rho2.append(sumawj/sumapj)
  Rho1.append(0)
  Rho2.append(0)
  if max(Rho1)<max(Rho2):
    Rho=Rho2
    RCadena=RCadena2
  else:
    Rho=Rho1
    RCadena=RCadena1
  for d in range(0,np.argmax(Rho)+1):
    Secuencia.append(RCadena[0])
    del(RCadena[0])
print(Secuencia)

###Datos para Heurística NEH

Ejemplo en clase

In [ ]:
Data = pd.DataFrame({'Trabajo': ['4', '3', '5', '1','2'],'M1':[19,13,15,16,14], 'M2':[15,20,16,18,10],'M3':[19,15,16,12,11]})
Data.set_index('Trabajo', inplace=True)

In [ ]:
Data

         M1  M2  M3
Trabajo
4        19  15  19
3        13  20  15
5        15  16  16
1        16  18  12
2        14  10  11

In [ ]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for i in Lista:
    Data1.loc[str(i)]=Data.loc[str(i)]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [ ]:
Maquinas=len(Data.columns)
ListaP=[]
ListaOp=[]
for l in Data.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista1=[]
    Data1=pd.DataFrame({'Trabajo': [],'M1':[], 'M2':[],'M3':[]})
    Data1.set_index('Trabajo', inplace=True)
    for i in range(0,j):
      Lista1.append(ListaP[i])
    Lista1.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista1.append(ListaP[i])
    Cmax=CalcularCMax(Lista1,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista1
    if Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista1
  ListaP=ListaOp
  print(CmaxMin,ListaOp)

[53.] ['4']
[67.] ['3', '4']
[83.] ['3', '4', '5']
[95.] ['3', '4', '5', '1']
[106.] ['3', '4', '5', '1', '2']

###Parte 1 Parcial 2 Examen 2

In [ ]:
Data = pd.read_csv('/Parte 1 Sin Ordenar.csv', sep=";")
Data

    Trabajo  M1  M2  M3  M4  M5  M6
0      1001  34  13  46  17  18  32
1      1002  47  24  18  10  35  23
2      1003  37  27  36  45  23  45
3      1004  38  30  15  49  13  16
4      1005  35  23  41  37  30  22
5      1006  39  25  19  50  28  43
6      1007  20  22  11  23  22  44
7      1008  49  49  14  44  17  40
8      1009  41  21  35  41  16  39
9      1010  30  11  50  20  27  29
10     1011  23  41  10  18  32  17
11     1012  40  48  49  21  48  15
12     1013  15  44  22  28  49  12
13     1014  21  47  37  47  43  26
14     1015  13  31  47  13  41  14
15     1016  42  43  44  12  31  41
16     1017  44  14  27  38  19  19
17     1018  12  28  21  31  29  34
18     1019  31  38  16  11  20  48
19     1020  28  50  20  27  11  13

In [ ]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for k in Lista:
    Data1.loc[str(k)]=Data.loc[k]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [ ]:
Maquinas=len(Data.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Data.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Trabajo': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'M6':[]})
    Data1.set_index('Trabajo', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax=CalcularCMax(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax==CmaxMin:
      l25.append(l)
      Lista25.append(Lista)
  ListaP=ListaOp
ListaOptima=Data['Trabajo'].loc[ListaOp]
CmaxMinMIN=CmaxMin
print(CmaxMinMIN,ListaOptima.values)
#Alfabetico
# < [760.] [1013, 1019, 1010, 1018, 1007, 1006, 1015, 1014, 1009, 1016, 1005, 1003, 1012, 1008, 1001, 1011, 1004, 1002, 1017, 1020]
# <=[770.] [1015, 1007, 1019, 1006, 1013, 1003, 1014, 1005, 1018, 1012, 1001, 1011, 1008, 1009, 1002, 1010, 1016, 1004, 1017, 1020]
#LPT
# < [762.] [1015, 1007, 1019, 1010, 1013, 1006, 1014, 1003, 1018, 1016, 1009, 1012, 1011, 1008, 1017, 1005, 1020, 1001, 1002, 1004]
# <=[762.] [1018, 1015, 1007, 1014, 1003, 1016, 1006, 1013, 1010, 1019, 1012, 1008, 1009, 1005, 1017, 1001, 1011, 1002, 1004, 1020]
#SPT
# < [785.] [1014, 1006, 1010, 1013, 1008, 1009, 1019, 1003, 1018, 1016, 1005, 1001, 1007, 1011, 1012, 1002, 1017, 1015, 1004, 1020]
# <=[775.] [1018, 1007, 1011, 1001, 1013, 1002, 1010, 1006, 1014, 1003, 1012, 1016, 1008, 1005, 1019, 1009, 1017, 1015, 1004, 1020]

[760.] [12, 18, 9, 17, 6, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [1013 1019 1010 1018 1007 1006 1015 1014 1009 1016 1005 1003 1012 1008
 1001 1011 1004 1002 1017 1020]

In [ ]:
Maquinas=len(Data.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
for z in range(0,len(l25)):
  ListaP=Lista25[z]
  for l in Data.index[Data.index>l25[z]]:
    CmaxMin=0
    ListaP.append(l) 
    for j in range(0,len(ListaP)):
      Lista=[]
      Data1=pd.DataFrame({'Trabajo': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'M6':[]})
      Data1.set_index('Trabajo', inplace=True)
      for i in range(0,j):
        Lista.append(ListaP[i])
      Lista.append(ListaP[-1])
      for i in range(j,len(ListaP)-1):
        Lista.append(ListaP[i])
      Cmax=CalcularCMax(Lista,Maquinas,Data1)
      if CmaxMin==0:
        CmaxMin=Cmax
        ListaOp=Lista
      elif Cmax<CmaxMin:
        CmaxMin=Cmax
        ListaOp=Lista
    ListaP=ListaOp
  if CmaxMin<CmaxMinMIN:
    CmaxMinMIN=CmaxMin
    ListaOptima=Data['Trabajo'].loc[ListaOp]
print(CmaxMinMIN,ListaOptima.values)

[762.] [17, 12, 9, 10, 8, 6, 13, 18, 5, 14, 16, 2, 15, 11, 7, 4, 19, 0, 1, 3]
[760.] [12, 18, 9, 17, 6, 5, 14, 13, 4, 8, 15, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 18, 9, 17, 6, 5, 14, 13, 4, 2, 15, 8, 11, 7, 0, 10, 3, 1, 16, 19]
[759.] [12, 6, 9, 17, 5, 14, 18, 8, 13, 15, 4, 2, 11, 7, 0, 10, 3, 19, 1, 16]
[760.] [14, 18, 12, 6, 5, 9, 17, 8, 13, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[757.] [17, 14, 12, 6, 5, 8, 18, 4, 13, 2, 9, 19, 11, 7, 0, 15, 10, 3, 1, 16]
[771.] [12, 18, 9, 6, 14, 10, 5, 13, 17, 8, 15, 4, 2, 11, 7, 0, 3, 1, 16, 19]
[760.] [12, 9, 6, 17, 18, 5, 14, 13, 10, 8, 4, 2, 11, 7, 0, 15, 3, 1, 16, 19]
[759.] [12, 9, 6, 17, 18, 5, 14, 13, 8, 4, 15, 10, 2, 11, 7, 0, 3, 19, 1, 16]
[758.] [17, 12, 9, 18, 6, 5, 13, 8, 4, 2, 10, 11, 7, 0, 14, 3, 15, 19, 1, 16]
[760.] [17, 9, 12, 6, 5, 8, 14, 13, 18, 4, 2, 11, 7, 0, 15, 10, 3, 1, 16, 19]
[760.] [17, 9, 6, 12, 5, 8, 14, 13, 18, 4, 2, 11, 7, 0, 15, 10, 3, 1, 16, 19]
[759.] [17, 9, 6, 14, 18, 5, 12, 8, 4, 13, 2, 15, 11, 7, 0, 10, 3, 19, 1, 16]
[760.] [17, 9, 6, 14, 18, 5, 8, 12, 4, 13, 2, 15, 11, 7, 0, 10, 3, 1, 16, 19]
[759.] [12, 9, 17, 6, 5, 14, 18, 8, 13, 15, 4, 2, 11, 7, 0, 10, 3, 19, 1, 16]
[756.] [12, 9, 6, 17, 5, 14, 18, 8, 4, 13, 2, 15, 11, 7, 0, 10, 3, 19, 1, 16]
[760.] [12, 18, 9, 17, 6, 5, 14, 13, 8, 4, 15, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 18, 9, 17, 6, 5, 14, 13, 8, 4, 2, 15, 11, 7, 0, 10, 3, 1, 16, 19]
[769.] [17, 12, 18, 9, 16, 6, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 19]
[769.] [17, 12, 18, 9, 6, 16, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 19]
[763.] [12, 18, 9, 17, 6, 5, 14, 13, 16, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 19]
[763.] [12, 18, 9, 17, 6, 5, 14, 13, 8, 16, 15, 4, 2, 11, 7, 0, 10, 3, 1, 19]
[760.] [12, 18, 9, 6, 17, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 6, 18, 5, 14, 13, 17, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 6, 18, 5, 14, 13, 8, 17, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 6, 18, 5, 14, 13, 8, 15, 17, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 18, 6, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 18, 5, 14, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[760.] [12, 9, 17, 6, 5, 14, 18, 13, 8, 15, 4, 2, 11, 7, 0, 10, 3, 1, 16, 19]
[756.] [1013 1010 1007 1018 1006 1015 1019 1009 1005 1014 1003 1016 1012 1008
 1001 1011 1004 1020 1002 1017]

In [ ]:
Texto=''
for a in range(0,len(ListaOptima)-1):
  Texto=Texto+str(ListaOptima.iloc[a])+'-'
Texto=Texto+str(ListaOptima.iloc[-1])
print(Texto)

1013-1010-1007-1018-1006-1015-1019-1009-1005-1014-1003-1016-1012-1008-1001-1011-1004-1020-1002-1017

In [ ]:
Secuencia=pd.DataFrame(ListaOptima)
Secuencia.to_excel('Secuencia Parte 1.xlsx')

Parte 2 Parcial 2 Examen 2

In [ ]:
Data = pd.read_csv('/Parte 2.csv', sep=";")
Data

  Trabajo  M1  M2  M3  M4
0      V1  16  30  10  25
1      V2  19  27  11  19
2      V3  27  14  17  17
3      V4  12  14  13  28
4      V5  19  28  26  29
5      V6  19  14  13  13
6      V7  13  25  27  19
7      V8  24  16  29  18
8      V9  12  20  27  23
9     V10  19  15  21  15

In [ ]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for i in Lista:
    Data1.loc[str(i)]=Data.loc[i]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [ ]:
Maquinas=len(Data.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Data.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Trabajo': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'M6':[]})
    Data1.set_index('Trabajo', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax=CalcularCMax(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax==CmaxMin:
      l25.append(l)
      Lista25.append(Lista)
  ListaP=ListaOp
ListaOptima=Data['Trabajo'].loc[ListaOp]
CmaxMinMIN=CmaxMin
print(CmaxMinMIN,ListaOptima.values)

[255.] ['V4' 'V9' 'V5' 'V7' 'V10' 'V6' 'V1' 'V3' 'V8' 'V2']

In [ ]:
Maquinas=len(Data.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
for z in range(0,len(l25)):
  ListaP=Lista25[z]
  for l in Data.index[Data.index>l25[z]]:
    CmaxMin=0
    ListaP.append(l) 
    for j in range(0,len(ListaP)):
      Lista=[]
      Data1=pd.DataFrame({'Trabajo': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'M6':[]})
      Data1.set_index('Trabajo', inplace=True)
      for i in range(0,j):
        Lista.append(ListaP[i])
      Lista.append(ListaP[-1])
      for i in range(j,len(ListaP)-1):
        Lista.append(ListaP[i])
      Cmax=CalcularCMax(Lista,Maquinas,Data1)
      if CmaxMin==0:
        CmaxMin=Cmax
        ListaOp=Lista
      elif Cmax<CmaxMin:
        CmaxMin=Cmax
        ListaOp=Lista
    ListaP=ListaOp
  if CmaxMin<CmaxMinMIN:
    CmaxMinMIN=CmaxMin
    ListaOptima=Data['Trabajo'].loc[ListaOp]
print(CmaxMinMIN,ListaOptima.values)

[255.] ['V4' 'V9' 'V5' 'V7' 'V10' 'V6' 'V1' 'V3' 'V8' 'V2']

In [ ]:
Texto=''
for a in range(0,len(ListaOptima)-1):
  Texto=Texto+str(ListaOptima.iloc[a])+'-'
Texto=Texto+str(ListaOptima.iloc[-1])
print(Texto)

V4-V9-V5-V7-V10-V6-V1-V3-V8-V2

In [ ]:
Secuencia=pd.DataFrame(ListaOptima)
Secuencia.to_excel('Secuencia Parte 2.xlsx')

Taller 2

In [ ]:
Data = pd.read_csv('Datos Taller 2 Arreglados.csv', sep=";")
Data

     Paciente  Wj  Liberacion  Fecha entrega  M1  M2  M3  M4  M5
0          45   5           0              3  24   6  41   7   2
1         107   5           0              3  13   2  36   9   6
2           2   4           0              4  23   3  30  11   3
3          36   4           0              2  22   8  28   6   4
4          44   4           0              2  28   4  31   6   5
..        ...  ..         ...            ...  ..  ..  ..  ..  ..
115        72   2           4              7  16   6  31  17   6
116        17   1           4              6  20   5  26  13   6
117        22   1           4              7  21   5  35   6   4
118        83   1           4              7  20   5  30  11   4
119       118   1           4              7  18   4  26  13   6

[120 rows x 9 columns]

In [ ]:
Data['Liberacion']=Data['Liberacion']*24*60
Data['Fecha entrega']=Data['Fecha entrega']*24*60
Data

     Paciente  Wj  Liberacion  Fecha entrega  M1  M2  M3  M4  M5
0          45   5           0           4320  24   6  41   7   2
1         107   5           0           4320  13   2  36   9   6
2           2   4           0           5760  23   3  30  11   3
3          36   4           0           2880  22   8  28   6   4
4          44   4           0           2880  28   4  31   6   5
..        ...  ..         ...            ...  ..  ..  ..  ..  ..
115        72   2        5760          10080  16   6  31  17   6
116        17   1        5760           8640  20   5  26  13   6
117        22   1        5760          10080  21   5  35   6   4
118        83   1        5760          10080  20   5  30  11   4
119       118   1        5760          10080  18   4  26  13   6

[120 rows x 9 columns]

In [ ]:
Data[0:10]

   Paciente  Wj  Liberacion  Fecha entrega  M1  M2  M3  M4  M5
0        45   5           0           4320  24   6  41   7   2
1       107   5           0           4320  13   2  36   9   6
2         2   4           0           5760  23   3  30  11   3
3        36   4           0           2880  22   8  28   6   4
4        44   4           0           2880  28   4  31   6   5
5        48   4           0           1440  17   5  27   9   4
6        61   4           0           5760  20   5  21   7   4
7        79   4           0           5760  10   4  43   7   2
8        81   4           0           4320  17   4  22   8   4
9       102   4           0           4320  18   3  26   6   4

In [ ]:
def CalcularTardanzaPonderada(Lista,Maquinas,Data1):
  Cjs=np.zeros((len(Lista),Maquinas))
  Inicios=np.zeros(len(Lista))
  for i in Lista:
    Data1.loc[i]=Data.loc[i]
  for i in range(0,len(Lista)):
    Inicios[i]=np.max([Cjs[[i-1],[0]],Data1.iloc[i,5]])
    Cjs[[i],[0]]=Inicios[i]+Data1.iloc[i,0]
  for j in range(1,Maquinas):
    Cjs[[0],[j]]=Data1.iloc[0,j]+Cjs[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Cjs[[i],[j]]=Data1.iloc[i,j]+np.max([Cjs[[i],[j-1]],Cjs[[i-1],[j]]])
  
  Data1['Tardanza']=Cjs[:,[-1]]-Data1[['Fecha entrega']]
  Data1['Tardanza'][Data1['Tardanza']<0]=0

  CMax=Cjs[[-1],[-1]]
  TardanzaPonderada=sum(Data1['Tardanza']*Data1['Wj'])
  TardanzaPonderada=sum(Data1['Tardanza']*Data1['Wj'])

  InicioPonderado=sum(Inicios*Data1['Wj'])

  return CMax, TardanzaPonderada, InicioPonderado

In [ ]:
Maquinas=5
Lista=[0,1,2,3,4,5,6,7,8,9]
Data1=pd.DataFrame({'Paciente': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'Liberacion':[],'Fecha entrega':[],'Wj':[]})
Data1.set_index('Paciente', inplace=True)
Cmax, TardanzaPonderada,InicioPonderado=CalcularTardanzaPonderada(Lista,Maquinas,Data1)

/usr/local/lib/python3.7/dist-packages/numpy/core/fromnumeric.py:87: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [ ]:
InicioPonderado

3696.0

In [ ]:
np.warnings.filterwarnings('ignore', category=np.VisibleDeprecationWarning)
Maquinas=5
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Data.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Paciente': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'Liberacion':[],'Fecha entrega':[],'Wj':[]})
    Data1.set_index('Paciente', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax, TardanzaPonderada, InicioPonderado=CalcularTardanzaPonderada(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
      InicioPonderadoOp=InicioPonderado
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
      InicioPonderadoOp=InicioPonderado
    elif Cmax==CmaxMin and TardanzaPonderada<TardanzaPonderadaOp:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
      InicioPonderadoOp=InicioPonderado
    elif Cmax==CmaxMin and InicioPonderado<InicioPonderadoOp:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
      InicioPonderadoOp=InicioPonderado
  ListaP=ListaOp
ListaOptima=Data['Paciente'].loc[ListaOp]
CmaxMinMIN=CmaxMin
TardanzaPonderadaOptima=TardanzaPonderadaOp
print(InicioPonderadoOp,TardanzaPonderadaOptima,CmaxMinMIN,ListaOptima.values)

768999.0 0.0 [6051.] [ 79 107  81  48 108 102 110 106  61  36   2  44  63  45  16  98  54  75
  66 112  37  73  65  95  91  84  11  97 120 114  46  25   5  19 109  18
  42  23 119  82  35 115  70  78   4 117 100  40  56   1  52  77  20  89
  43  80  69  59  32  92   9  71  21 105  85  51  29  49  14  62   3  12
 113  38  15  58  53  13  41   7  93  31  68   8  60  26  33  10 111  99
  76  94  30   6  24  55 103  96  28  64  74  88 116  39  34  87  86  27
  67  50 104 101  47  90  72  17  57 118  83  22]

In [ ]:
ListaOptima=Data['Paciente'].loc[ListaOp]
CmaxMinMIN=CmaxMin
TardanzaPonderadaOptima=TardanzaPonderadaOp
print(TardanzaPonderadaOptima,CmaxMinMIN,ListaOptima.values)

0.0 [6051.] [120 114 112 110 109 108 107 106 102  98  97  95  91  84  81  79  75  73
  66  65  63  61  54  48  46  45  44  37  36  25  19  16  11   5 119 117
 115 100  92  89  82  80  78  77  70  69  59  56  52  43  42 113 111 105
 103  99  96  94  93  85  76  71  68  62  60  58  55  53  51  49  41  40
  38  35  33  32  31  30  29  28  26  24  23  21  20  18   9   4   2   1
 116 104  88  87  86  74  67  64  50  39  34  27   8  15  14  12  13   6
   3   7  10 101 118  72  90  83  47  57  17  22]

In [ ]:
'''0.0 [6051.] [ 79 120 114 112  97  95  91  84  73  65  46  37  25  19  11   5  98  75
  54  16  66  63 110 108 106 102  81 107  61  48  44  36   2  45 109  18
  43  92  80  69  59  32  77  89  56  20   9   1  40  42 119  82 117 100
  35  52  23 115  78  70   4  71 103  96  94  30  28  24   6 111  99  76
  33  31  26   8  21  68  60  53  49  38   7 113  93  58  51  41  29 105
  15  13  10   3  85  14  62  12  55  67  64  74  50  87  86  27  88 116
  39  34 104 101 118  83  17  72  47  90  57  22]
  0.0 [6051.] [120 114 112 110 109 108 107 106 102  98  97  95  91  84  81  79  75  73
  66  65  63  61  54  48  46  45  44  37  36  25  19  16  11   5 119 117
 115 100  92  89  82  80  78  77  70  69  59  56  52  43  42 113 111 105
 103  99  96  94  93  85  76  71  68  62  60  58  55  53  51  49  41  40
  38  35  33  32  31  30  29  28  26  24  23  21  20  18   9   4   2   1
 116 104  88  87  86  74  67  64  50  39  34  27   8  15  14  12  13   6
   3   7  10 101 118  72  90  83  47  57  17  22]
   '''

In [ ]:
Secuencia=pd.DataFrame(ListaOptima)
Secuencia.to_excel('Secuencia Taller 2.xlsx')

In [ ]:
np.warnings.filterwarnings('ignore', category=np.VisibleDeprecationWarning)
Maquinas=5
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Data.index:
  TardanzaPonderadaOp=''
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Paciente': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'Liberacion':[],'Fecha entrega':[],'Wj':[]})
    Data1.set_index('Paciente', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax, TardanzaPonderada=CalcularTardanzaPonderada(Lista,Maquinas,Data1)
    if TardanzaPonderadaOp=='':
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
    elif TardanzaPonderada<TardanzaPonderadaOp:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
    elif TardanzaPonderada==TardanzaPonderadaOp and Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
      TardanzaPonderadaOp=TardanzaPonderada
  ListaP=ListaOp
ListaOptima=Data['Trabajo'].loc[ListaOp]
CmaxMinMIN=CmaxMin
TardanzaPonderadaOptima=TardanzaPonderadaOp
print(TardanzaPonderadaOptima,CmaxMinMIN,ListaOptima.values)

In [ ]:
Data1.loc[4]=Data.loc[4]

In [ ]:
Data1=pd.DataFrame({'Paciente': [],'M1':[], 'M2':[],'M3':[],'M4':[], 'M5':[],'Liberacion':[],'Fecha entrega':[],'Wj':[]})

In [ ]:
CalcularTardanzaPonderada(Lista,Maquinas,Data1)

(array([875.]), 0.0)

In [ ]:
Data1

   Paciente    M1   M2    M3  ...  Fecha entrega   Wj  Retardo  Tardanza
1       2.0  23.0  3.0  30.0  ...         5760.0  4.0  -5759.0       0.0
4       5.0  28.0  8.0  21.0  ...         1440.0  1.0    560.0     560.0

[2 rows x 11 columns]

In [ ]:
Cjs=np.ones((2,7))
Cjs[1]=2000

In [ ]:
Data1['Retardo']

In [ ]:
Data1['Tardanza']=np.max([0,Data1['Retardo'].values.all()])

###Parcial II Johnny

In [30]:
Bases = pd.read_excel('Info P2 Johnny.xlsx', sheet_name="Bases")
Tapas = pd.read_excel('Info P2 Johnny.xlsx', sheet_name="Tapas")
Entrepaños = pd.read_excel('Info P2 Johnny.xlsx', sheet_name="Entrepaños")

In [37]:
Bases = pd.read_excel('Info P2 Johnny 2.xlsx', sheet_name="Bases")
Tapas = pd.read_excel('Info P2 Johnny 2.xlsx', sheet_name="Tapas")
Entrepaños = pd.read_excel('Info P2 Johnny 2.xlsx', sheet_name="Entrepaños")

In [39]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for k in Lista:
    Data1.loc[str(k)]=Bases.loc[k]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [40]:
Maquinas=len(Bases.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Bases.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Producto ': [],'Corte':[], 'Pulido ':[],'Ensamble':[]})
    Data1.set_index('Producto ', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax=CalcularCMax(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax==CmaxMin:
      l25.append(l)
      Lista25.append(Lista)
  ListaP=ListaOp
ListaOptima=Bases['Producto '].loc[ListaOp]
CmaxMinMIN=CmaxMin
print(CmaxMinMIN,ListaOptima.values)
#[318.] ['Biblioteca 3' 'Biblioteca 8' 'Biblioteca 7' 'Biblioteca 6' 'Biblioteca 5' 'Biblioteca 4' 'Biblioteca 2' 'Biblioteca 1']

[318.] ['Biblioteca 3' 'Biblioteca 8' 'Biblioteca 7' 'Biblioteca 6'
 'Biblioteca 5' 'Biblioteca 4' 'Biblioteca 2' 'Biblioteca 1']

In [41]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for k in Lista:
    Data1.loc[str(k)]=Tapas.loc[k]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [42]:
Maquinas=len(Tapas.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Tapas.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Producto ': [],'Corte':[], 'Pulido ':[],'Ensamble':[]})
    Data1.set_index('Producto ', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax=CalcularCMax(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax==CmaxMin:
      l25.append(l)
      Lista25.append(Lista)
  ListaP=ListaOp
ListaOptima=Tapas['Producto '].loc[ListaOp]
CmaxMinMIN=CmaxMin
print(CmaxMinMIN,ListaOptima.values)
#[325.] ['Biblioteca 8' 'Biblioteca 2' 'Biblioteca 7' 'Biblioteca 6' 'Biblioteca 5' 'Biblioteca 4' 'Biblioteca 3' 'Biblioteca 1']

[321.] ['Biblioteca 8' 'Biblioteca 2' 'Biblioteca 7' 'Biblioteca 6'
 'Biblioteca 5' 'Biblioteca 4' 'Biblioteca 3' 'Biblioteca 1']

In [43]:
def CalcularCMax(Lista,Maquinas,Data1):
  Matriz=np.zeros((len(Lista),Maquinas))
  for k in Lista:
    Data1.loc[str(k)]=Entrepaños.loc[k]
  Matriz[[0],[0]]=Data1.iloc[0,0]
  for i in range(1,len(Lista)):
    Matriz[[i],[0]]=Matriz[[i-1],[0]]+Data1.iloc[i,0]
  for j in range(0,Maquinas):
    Matriz[[0],[j]]=Data1.iloc[0,j]+Matriz[[0],[j-1]]
  for i in range(1,len(Lista)):
    for j in range(1,Maquinas):
      Matriz[[i],[j]]=Data1.iloc[i,j]+np.max([Matriz[[i],[j-1]],Matriz[[i-1],[j]]])
  CMax=Matriz[[-1],[-1]]
  return CMax

In [36]:
Maquinas=len(Entrepaños.columns)-1
ListaP=[]
ListaOp=[]
Lista=[]
Lista25=[]
l25=[]

for l in Entrepaños.index:
  CmaxMin=0
  ListaP.append(l)
  for j in range(0,len(ListaP)):
    Lista=[]
    Data1=pd.DataFrame({'Producto ': [],'Corte':[], 'Pulido ':[],'Ensamble':[]})
    Data1.set_index('Producto ', inplace=True)
    for i in range(0,j):
      Lista.append(ListaP[i])
    Lista.append(ListaP[-1])
    for i in range(j,len(ListaP)-1):
      Lista.append(ListaP[i])
    Cmax=CalcularCMax(Lista,Maquinas,Data1)
    if CmaxMin==0:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax<CmaxMin:
      CmaxMin=Cmax
      ListaOp=Lista
    elif Cmax==CmaxMin:
      l25.append(l)
      Lista25.append(Lista)
  ListaP=ListaOp
ListaOptima=Entrepaños['Producto '].loc[ListaOp]
CmaxMinMIN=CmaxMin
print(CmaxMinMIN,ListaOptima.values)
#[300.] ['Biblioteca 1' 'Biblioteca 8' 'Biblioteca 7' 'Biblioteca 6''Biblioteca 5' 'Biblioteca 4' 'Biblioteca 2' 'Biblioteca 3']

[300.] ['Biblioteca 1' 'Biblioteca 8' 'Biblioteca 7' 'Biblioteca 6'
 'Biblioteca 5' 'Biblioteca 4' 'Biblioteca 2' 'Biblioteca 3']