<a href="https://colab.research.google.com/github/davidmorme/Universidad/blob/main/Log%C3%ADstica%20II/Taller_Modelo_de_Transporte.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Nombres:**

Deisy Tatiana Garnica Carrion

David Esteban Mora Meza

Felipe Oswaldo Muñoz Muñoz

In [ ]:
import pandas as pd
import math

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
#from google.colab import files 
#uploaded = files.upload()

In [ ]:
#data = pd.read_excel('/content/drive/My Drive/datos_transporte.xls')
#df = pd.DataFrame(data)
#df

In [ ]:
i=0.3
ss = 19178
c= 30
D = 700000

Esta es una estructura de datos llamada diccionario: Usa claves y datos

In [ ]:
data = {'Modo': ['Ferroviario', 'Fluvial', 'Carretera', 'Aéreo'], 'tau':[0.0575, 0.0384, 0.0137, 0.0055], 'r':[0.1,0.15,0.2,1.4], 'N':[10,20,20,40],'cap':[1000000, 17500, 8750, 17500], 'A':[2000,5000,1500,1000]}

DataFrame es una estructura de Pandas. Es una tabla indexada

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

          Modo     tau     r   N      cap     A
0  Ferroviario  0.0575  0.10  10  1000000  2000
1      Fluvial  0.0384  0.15  20    17500  5000
2    Carretera  0.0137  0.20  20     8750  1500
3        Aéreo  0.0055  1.40  40    17500  1000

Un dataframe es como una matriz. Pero en lugar de decir df[0][3], decimos df.at[0, 'tau'] o df.loc[0, 'tau']

In [ ]:
print(df.at[0,'tau'])

0.0575

In [ ]:
print(df.loc[0,'tau'])

0.0575

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Modo    4 non-null      object
 1   tau     4 non-null      float64
 2   r       4 non-null      float64
 3   N       4 non-null      int64
 4   cap     4 non-null      int64
 5   A       4 non-null      int64
dtypes: float64(2), int64(3), object(1)
memory usage: 320.0+ bytes

In [ ]:
df.describe()

            tau         r          N             cap            A
count  4.000000  4.000000   4.000000        4.000000     4.000000
mean   0.028775  0.462500  22.500000   260937.500000  2375.000000
std    0.023712  0.626332  12.583057   492725.598711  1796.988221
min    0.005500  0.100000  10.000000     8750.000000  1000.000000
25%    0.011650  0.137500  17.500000    15312.500000  1375.000000
50%    0.026050  0.175000  20.000000    17500.000000  1750.000000
75%    0.043175  0.500000  25.000000   263125.000000  2750.000000
max    0.057500  1.400000  40.000000  1000000.000000  5000.000000

Añadamos la columna Q con Q = D/N

In [ ]:
df['Q']=D/df['N']

In [ ]:
df

          Modo     tau     r   N      cap     A        Q
0  Ferroviario  0.0575  0.10  10  1000000  2000  70000.0
1      Fluvial  0.0384  0.15  20    17500  5000  35000.0
2    Carretera  0.0137  0.20  20     8750  1500  35000.0
3        Aéreo  0.0055  1.40  40    17500  1000  17500.0

Cambiemos el índice de la tabla. Ahora el índice debe ser 'Modo'

In [ ]:
df.set_index('Modo', inplace=True)

In [ ]:
df

                tau     r   N      cap     A        Q
Modo
Ferroviario  0.0575  0.10  10  1000000  2000  70000.0
Fluvial      0.0384  0.15  20    17500  5000  35000.0
Carretera    0.0137  0.20  20     8750  1500  35000.0
Aéreo        0.0055  1.40  40    17500  1000  17500.0

Tomemos el modo de transporte 'Ferroviario'. df.loc['Ferroviario] toma todas las columnas de la fila 'Ferroviario'

In [ ]:
print( df.loc['Ferroviario','Q'])

70000.0

'slicing' = tomar trozos del dataframe. df_m es un nuevo dataframe

In [ ]:
df_m = df.loc['Aéreo']

In [ ]:
df_m

tau        0.0055
r          1.4000
N         40.0000
cap    17500.0000
A       1000.0000
Q      17500.0000
Name: Aéreo, dtype: float64

Asignemos los valores de la tabla a variables simples. Modo ferroviario

In [ ]:
Q = df_m.loc['Q']
tau = df_m.loc['tau']
cap = df_m.loc['cap']
A = df_m.loc['A']
N = df_m.loc['N']
r = df_m.loc['r']

Hallemos el número de camiones. Usemos la función `trunc` que redondea hacia abajo:

In [ ]:
n = Q/cap

if math.trunc(n)<n: n = math.trunc(n)+1
print ('Número de vehículos por envío', n)

Número de vehículos por envío 1.0

In [ ]:
cprima = c+ r + A*n/Q
costo_inv_planta = i*c*(Q/2+ss)
costo_inv_cd = i*cprima*(Q/2+ss)
costo_inv_transito =  i*c*D*tau
costo_transporte = r*D
costo_total= i*c*(Q/2+ss) + i*c*D*tau + r*D + A*n*D/Q + i*cprima*(Q/2+ss)

In [ ]:
print('c_prima', cprima)
print('Costo inv planta', costo_inv_planta)
print('Costo inv cd',costo_inv_cd)
print('Costo inv tránsito', costo_inv_transito)
print('Costo transporte', costo_transporte)
print('Costo total anual',costo_total)

c_prima 31.457142857142856
Costo inv planta 251352.0
Costo inv cd 263560.5257142857
Costo inv tránsito 34650.0
Costo transporte 979999.9999999999
Costo total anual 1569562.5257142857

In [ ]:
i=0.3
ss = 19178
c= 30
D = 700000

In [ ]:
Metodo='Fluvial'
df_m = df.loc[Metodo,['tau','r','A','cap']]
tau = df_m.loc['tau']
cap = df_m.loc['cap']
A = df_m.loc['A']
r = df_m.loc['r']

df_m

tau        0.0384
r          0.1500
A       5000.0000
cap    17500.0000
Name: Fluvial, dtype: float64

In [ ]:
QOptimo=''
nOptimo=''
CostoOptimo=''
for Q in range(1,100001):
  N = math.ceil(D/Q)
  n = math.ceil(Q/cap) #redondea hacia arriba el # de vehículos

  cprima = c+ r + A*n/Q

  costo_inv_planta = i*c*(Q/2+ss)
  costo_inv_cd = i*cprima*(Q/2+ss)
  costo_inv_transito =  i*c*D*tau
  Costo= i*c*(Q/2+ss) + i*c*D*tau + r*D + A*n*N + i*cprima*(Q/2+ss) 
  if CostoOptimo=='':
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
  elif CostoOptimo>Costo:
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
print('Resultado para método de transporte',Metodo,'\nCosto Optimo=',CostoOptimo,'\nCon Q optimo=',QOptimo,'\nCon n Optimo=',nOptimo,'\nCon N Optimo=',NOptimo)

Resultado para método de transporte Fluvial
Costo Optimo= 1053274.5885714286
Con Q optimo= 17500
Con n Optimo= 1
Con N Optimo= 40

In [ ]:
Metodo='Ferroviario'
df_m = df.loc[Metodo,['tau','r','A','cap']]
tau = df_m.loc['tau']
cap = df_m.loc['cap']
A = df_m.loc['A']
r = df_m.loc['r']

df_m

tau          0.0575
r            0.1000
A         2000.0000
cap    1000000.0000
Name: Ferroviario, dtype: float64

In [ ]:
QOptimo=''
nOptimo=''
CostoOptimo=''
for Q in range(1,100001):
  N = math.ceil(D/Q)
  n = math.ceil(Q/cap) #redondea hacia arriba el # de vehículos

  cprima = c+ r + A*n/Q

  costo_inv_planta = i*c*(Q/2+ss)
  costo_inv_cd = i*cprima*(Q/2+ss)
  costo_inv_transito =  i*c*D*tau
  Costo= i*c*(Q/2+ss) + i*c*D*tau + r*D + A*n*N + i*cprima*(Q/2+ss) 
  if CostoOptimo=='':
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
  elif CostoOptimo>Costo:
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
print('Resultado para método de transporte',Metodo,'\nCosto Optimo=',CostoOptimo,'\nCon Q optimo=',QOptimo,'\nCon n Optimo=',nOptimo,'\nCon N Optimo=',NOptimo)

Resultado para método de transporte Ferroviario
Costo Optimo= 1003937.384
Con Q optimo= 12500
Con n Optimo= 1
Con N Optimo= 56

In [ ]:
Metodo='Carretera'
df_m = df.loc[Metodo,['tau','r','A','cap']]
tau = df_m.loc['tau']
cap = df_m.loc['cap']
A = df_m.loc['A']
r = df_m.loc['r']

df_m

tau       0.0137
r         0.2000
A      1500.0000
cap    8750.0000
Name: Carretera, dtype: float64

In [ ]:
QOptimo=''
nOptimo=''
CostoOptimo=''
for Q in range(1,100001):
  N = D/Q
  n = math.ceil(Q/cap) #redondea hacia arriba el # de vehículos

  cprima = c+ r + A*n/Q

  costo_inv_planta = i*c*(Q/2+ss)
  costo_inv_cd = i*cprima*(Q/2+ss)
  costo_inv_transito =  i*c*D*tau
  Costo= i*c*(Q/2+ss) + i*c*D*tau + r*D + A*n*N + i*cprima*(Q/2+ss) 
  if CostoOptimo=='':
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
  elif CostoOptimo>Costo:
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
print('Resultado para método de transporte',Metodo,'\nCosto Optimo=',CostoOptimo,'\nCon Q optimo=',QOptimo,'\nCon n Optimo=',nOptimo,'\nCon N Optimo=',NOptimo)

Resultado para método de transporte Carretera
Costo Optimo= 772888.4771428572
Con Q optimo= 8750
Con n Optimo= 1
Con N Optimo= 80.0

In [ ]:
Metodo='Aéreo'
df_m = df.loc[Metodo,['tau','r','A','cap']]
tau = df_m.loc['tau']
cap = df_m.loc['cap']
A = df_m.loc['A']
r = df_m.loc['r']

df_m

tau        0.0055
r          1.4000
A       1000.0000
cap    17500.0000
Name: Aéreo, dtype: float64

In [ ]:
QOptimo=''
nOptimo=''
CostoOptimo=''
for Q in range(1,10001):
  N = D/Q
  n = math.ceil(Q/cap) #redondea hacia arriba el # de vehículos

  cprima = c+ r + A*n/Q

  costo_inv_planta = i*c*(Q/2+ss)
  costo_inv_cd = i*cprima*(Q/2+ss)
  costo_inv_transito =  i*c*D*tau
  Costo= i*c*(Q/2+ss) + i*c*D*tau + r*D + A*n*N + i*cprima*(Q/2+ss) 
  if CostoOptimo=='':
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
  elif CostoOptimo>Costo:
    CostoOptimo=Costo
    QOptimo=Q
    nOptimo=n
    NOptimo=N
print('Resultado para método de transporte',Metodo,'\nCosto Optimo=',CostoOptimo,'\nCon Q optimo=',QOptimo,'\nCon n Optimo=',nOptimo,'\nCon N Optimo=',NOptimo)

Resultado para método de transporte Aéreo
Costo Optimo= 1529303.77626228
Con Q optimo= 8754
Con n Optimo= 1
Con N Optimo= 79.96344528215673